.Header {
    padding: 1px;
}
  
h2, h3 {
    text-align: center;
}

.BodyApp {
    background-color: white;
    border-radius: 10px;
}

.add-field {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.todo-list {
    margin-top: 20px;
    padding-bottom: 20px;
}


  